# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env
.env.local

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Media files (accessed locally only, not pushed to GitHub)
src/videos/
src/images/LineFollowingRobot1.webp
src/images/LineFollowingRobot2.png
src/images/FPGAConnect4_1.PNG