<section id="hackathons">
    <h2 class="section-title">Hackathons:</h2>
    
    <div class="timeline-container">
        <div class="timeline-item">
            <div class="timeline-logo">
                <img src="images/Dubhacks.png" alt="Dubhacks Logo" class="timeline-company-logo">
            </div>
            <div class="timeline-content">
                <h3>Dubhacks</h3>
                <p class="date">October 2025</p>
                <p>At the DubHacks 2025 hackathon, my team and I created "UW Connections", a personalized student networking and course recommendation website that is designed to help University of Washington students discover peers, study squads, and classes that align with their career goals and interests. This platform connects users based on shared courses, skills, and academic paths, fostering both collaboration and community amongst UW students.</p>
                <p>For more information on this project, check out our <a href="https://devpost.com/software/uw-connections-webpage" target="_blank">Devpost</a>.</p>
                <div class="skills-section">
                    <h4>Skills:</h4>
                    <div class="skills-tags">
                        <span class="skill-tag">GitHub</span>
                        <span class="skill-tag">AWS DynamoDB</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>