<section id="leadership">
    <h2 class="section-title">Leadership:</h2>
    
    <div class="timeline-container">
        <div class="timeline-item">
            <div class="timeline-logo">
                <img src="images/UWCoE.jpg" alt="University of Washington Logo" class="timeline-company-logo">
            </div>
            <div class="timeline-content">
                <h3>Engineering Peer Educator @ University of Washington College of Engineering</h3>
                <p class="date">March 2025 – December 2025</p>
                <p>In my role as an Engineering Peer Educator, I mentor Engineering Undeclared (ENGRUD) students, guiding them to academic resources and supporting their transition into the College of Engineering. I developed and delivered tailored lesson plans for the GEN ST 199 (General Studies) course offered at UW, focusing on an interactive learning experience for engineering students, while fostering leadership and collaboration among peers.</p>
                <div class="skills-section">
                    <h4>Skills:</h4>
                    <div class="skills-tags">
                        <span class="skill-tag">Teaching</span>
                        <span class="skill-tag">Public Speaking</span>
                        <span class="skill-tag">Lesson Planning</span>
                        <span class="skill-tag">Peer Mentoring</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>