<section id="projects">
    <h2 class="section-title">Personal Projects:</h2>

    <div class="projects-container">
        <div class="project-card">
            <div class="project-logo">
                <a href="https://eba14.github.io/Sliders/" target="_blank">
                    <img src="images/SlidersLogo.png" alt="Sliders Logo" class="project-company-logo">
                </a>
            </div>
            <div class="project-content">
                <h3>Sliders</h3>
                <p class="date">Status: <b>Released</b> (Click on the Sliders logo above to play!)</p>
                <p>This personal project focuses on the creation of a sliding puzzle game, "Sliders". Players can choose from difficulty levels with grid sizes ranging from 3x3 (easiest) to 7x7 (hardest). The goal is to slide the numbered tiles into a specific randomized order, which is different for each game played. The numbered tiles don't need to be in a numerical sequence; the order will vary with each new game. The puzzle game offers an engaging challenge with various levels of complexity, suitable for both beginners and puzzle enthusiasts.</p>
                <p>The game has been <strong>released as of December 2025</strong>, with more updates to come in order to improve user experience and engagement with this strategy-based puzzle game.</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-logo">
                <img src="images/JumbledBlockersLogo.png" alt="Jumbled Blockers Logo" class="project-company-logo">
            </div>
            <div class="project-content">
                <h3>Jumbled Blockers</h3>
                <p class="date">Status: <i>Work In Progress...</i></p>
                <p>"Jumbled Blockers" is a fun and brain-stimulating puzzle game where the objective is to arrange colored discs onto matching color-coded poles. Players can only move the top disc on any pole, and they can only move one disc at a time. The game allows players to choose the difficulty by selecting how many poles to sort discs from, ranging from 4 to 7 poles. The number of discs a pole can hold is also determined by the difficulty level (in a 1:1 ratio).</p>
                <p>The objective is to sort all the discs by color in as few moves as possible while keeping track of the limited pole capacity and disc order restrictions. Each puzzle is timed, adding an extra layer of competition. The game is intended to be engaging, helping players improve their problem-solving skills while offering various levels of difficulty.</p>
                <p><strong>Target Release Date</strong>: Summer 2026</p>
            </div>
        </div>
    </div>
</section>