<div class="popup" id="email-popup">
    <div class="popup-content">
        <button class="close-btn" onclick="closePopup()">X</button>
        <p>Feel free to reach out to either of my emails below!</p>
        <div class="email-list">
            <p><strong>Personal email:</strong> 
                <a href="mailto:elias.assalif14@gmail.com" target="_blank">elias.assalif14@gmail.com</a>
            </p>
            <p><strong>School email:</strong> 
                <a href="mailto:eba14@uw.edu" target="_blank">eba14@uw.edu</a>
            </p>
        </div>
    </div>
</div>