<header>
    <nav>
        <div class="container">
            <div class="logo">
                <h1 class="elias-a" id="logo-home">Elias A.</h1>
            </div>
            <div class="navbar">
                <a href="#about-me" class="nav-link">About Me</a>
                <span class="nav-divider">|</span>
                <a href="#work-history" class="nav-link">Work Experiences</a>
                <span class="nav-divider">|</span>
                <a href="#leadership" class="nav-link">Leadership</a>
                <span class="nav-divider">|</span>
                <a href="#projects" class="nav-link">Personal Projects</a>
                <span class="nav-divider">|</span>
                <a href="#hackathons" class="nav-link">Hackathons</a>
                <span class="nav-divider">|</span>
                <a href="#organizations" class="nav-link">Organizations</a>
            </div>
            <div class="mobile-menu-toggle" id="mobile-menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="mobile-menu" id="mobile-menu">
                <a href="#about-me" class="mobile-nav-link">About Me</a>
                <a href="#work-history" class="mobile-nav-link">Work Experience</a>
                <a href="#leadership" class="mobile-nav-link">Leadership</a>
                <a href="#projects" class="mobile-nav-link">Personal Projects</a>
                <a href="#hackathons" class="mobile-nav-link">Hackathons</a>
                <a href="#organizations" class="mobile-nav-link">Organizations</a>
            </div>
        </div>
        <div class="scroll-progress" id="scroll-progress"></div>
    </nav>
</header>
