<div class="profile">
    <img src="images/Elias_Profile.jpg" alt="Profile Picture" class="profile-img" id="profile-img-click">
    <h3 class="profile-name">Elias Assalif</h3>
    <div class="profile-info">
        <p class="profile-location">📍 Seattle, WA</p>
    </div>
    <div class="social-media">
        <a href="#" target="_blank" id="email-link" title="Email">
            <img src="https://cdn-icons-png.flaticon.com/512/542/542689.png" alt="Email Icon">
        </a>
        <a href="https://www.linkedin.com/in/elias-assalif-a65624306/" target="_blank" title="LinkedIn">
            <img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt="LinkedIn Icon">
        </a>
        <a href="https://www.instagram.com/elias.assalif/" target="_blank" title="Instagram">
            <img src="https://cdn-icons-png.flaticon.com/512/5968/5968776.png" alt="Instagram Icon">
        </a>
        <a href="https://github.com/eba14" target="_blank" title="GitHub">
            <img src="https://cdn0.iconfinder.com/data/icons/free-social-media-set/24/github-512.png" alt="GitHub Icon">
        </a>
    </div>
</div>