/* Scrollbar Styling */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

body::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 6px;
}