/* Main Styles - Import all modular CSS files */
@import url('css/base.css');
@import url('css/header.css');
@import url('css/hero.css');
@import url('css/layout.css');
@import url('css/components.css');
@import url('css/projects.css');
@import url('css/timeline.css');
@import url('css/modals.css');
@import url('css/animations.css');
@import url('css/scrollbar.css');
@import url('css/responsive.css');
@import url('css/footer.css');